@import "tailwindcss";

/* Scrollbar track (fond) */
::-webkit-scrollbar {
    width: 3px; /* largeur scrollbar */
    height: 3px; /* hauteur scrollbar horizontale si besoin */
  }
  
  /* Scrollbar thumb (partie que l'on fait glisser) */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(221, 133, 2, 0.973); /* couleur violet/indigo par exemple */
    border-radius: 10px;
  }
  
  /* Scrollbar track background */
  ::-webkit-scrollbar-track {
    background: #ffffff; /* fond plus sombre */
    z-index: 999999;

  }
  
  body {
    height: 100%;
    overflow: hidden;
  }
  
  #root {
    height: 100%;
    overflow: auto;
  }